table{
    border-spacing: 0px;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 60px;
    overflow: hidden;
}

#astavarga_charts td {
  padding: 10px;
}