{% extends 'main.html' %}
{% block headextra %}
    <script type="text/javascript">
    var rasi = { 
      "0": {
        "name": "Mesham",
        "planets": []
      },
      "1": {
        "name": "Rishabam",
        "planets": []
      },
      "2": {
        "name": "Mithunam",
        "planets": []
      },
      "3": {
        "name": "Katagam",
        "planets": []
      },
      "4": {
        "name": "Simam",
        "planets": []
      },
      "5": {
        "name": "Kanni",
        "planets": []
      },
      "6": {
        "name": "Thulam",
        "planets": []
      },
      "7": {
        "name": "Viruchagam",
        "planets": []
      },
      "8": {
        "name": "Thanusu",
        "planets": []
      },
      "9": {
        "name": "Makaram",
        "planets": []
      },
      "10": {
        "name": "Kumbam",
        "planets": []
      },
      "11": {
        "name": "Meenum",
        "planets": []
      }
    };
    var house_map = {
      "0": "0_1",
      "1": "0_2",
      "2": "0_3",
      "3": "1_3",
      "4": "2_3",
      "5": "3_3",
      "6": "3_2",
      "7": "3_1",
      "8": "3_0",
      "9": "2_0",
      "10": "1_0",
      "11": "0_0"
    };

    var planets = ["Sun", "Moon", "Mars", "Venus", "Jupiter", "Mercury", "Saturn", "Lagnam"];

    function getKeyByValue(object, value) {
      return Object.keys(object).find(key => object[key] === value);
    }
     function display_chart() {
        var table = document.getElementById('rasichart')
        if(table) {
          table.parentNode.removeChild(table);
        }
        var table = document.createElement("table");
        var tr = table.insertRow(-1);                   
        table.setAttribute("border", "1");
        //table.setAttribute("padding", "60");
        table.setAttribute("id", "rasichart");

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < 4; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < 4; j++) {
                
                if(j == 1 && i == 1)
                {
                var tabCell = tr.insertCell(-1);
                tabCell.setAttribute("colspan", "2")
                tabCell.setAttribute("rowspan", "2")
                tabCell.setAttribute("id", i + "_"+ j)
                //tabCell.setAttribute("style", "text-align:center;")
                tabCell.innerHTML = "Rasi"
                }
                else if( (i==1 && j==2) || (i==2 && j==1) || (i==2 && j==2))
                {
                  //ignore on center space
                }
                else
                {
                   var tabCell = tr.insertCell(-1);
                   var id = i + "_"+ j
                   tabCell.setAttribute("id", id)
                   tabCell.innerHTML = rasi[getKeyByValue(house_map, id)].planets.join("\r\n");;
                }
            }
        }
$("#mainchart").append(table);
}

function update_chart(option) {
    position = option.options[option.selectedIndex].value - 1
    var cell = document.getElementById(house_map[position])
    planet_name = option.id
    // Remove planets from other rasi
    for (var house_number in rasi){
      var planets_in_rasi = rasi[house_number].planets
      for( var i = 0; i < planets_in_rasi.length; i++){
        if ( planets_in_rasi[i] === planet_name) rasi[house_number].planets.splice(i, 1);
      }  
    }
    // asign to selected rasi
    rasi[position].planets.push(planet_name);
    display_chart();

}
function display_option() {
    planets.forEach(function(item){ 
      var select = document.createElement("select");
      var label = document.createElement("label");
      label.innerHTML = item.concat(" : ")
      $("#positions").append(label);
        select.setAttribute("id", item);
        select.setAttribute("class", "planetgroup");
        select.setAttribute("onchange", "update_chart(this)");
        var default_option = document.createElement("option");
          default_option.value = 0;
          default_option.text = "Select Rasi";
          default_option.selected = true;
          select.appendChild(default_option);
        for (var i = 0; i <= 11; i++) {
          var option = document.createElement("option");
          option.value = i + 1;
          option.text = rasi[i].name;
          select.appendChild(option);
        }                   
        $("#positions").append(select);
      }); 
  }


$( document ).ready(function() {
    display_chart();
    display_option();
    $('#generate_astavarga').click(function() {
      // Validate
      var validate = true;
      for( var i = 0; i < planets.length; i++){
        var opt = document.getElementById(planets[i]);
        console.log(opt.options[opt.selectedIndex].value)
        if (opt.options[opt.selectedIndex].value == "0")
        {
          validate = false
          message = "Please select Rasi for planet " + planets[i]
          $("#message").text(message)
          break;
        }
      }
      $.ajax({
        type: "GET",
        url: "generate_astavarga",
        data: { rasi: JSON.stringify(rasi) },
        async: false,
        success: function(result) {
         
        },
        error: function(err) {
        }
      });
    });
});
</script>

{% endblock %}

{% block content %}
<div style="text-align:center;">
    <div style="width: 50%; float:left;">
    <p id="positions" class="grid"></p>
    </div>
    <div style="width: 50%; float:right;">
    <p id="mainchart"></p>
    </div>
</div>
<input type='button' id="generate_astavarga" value='Generate Astavarga'>
<div>
<p id="message">Message</p>
</div>
<div id="astavarga_charts"></div>

{% endblock %}